---
// import "../assets/global.css";
import ampCustom from "../assets/amp-custom.css?inline";
import ampBoilerPlate1 from "../assets/amp-boilerplate1.css?inline";
import Seo from "./seo.astro";
import siteData from "../siteConfig";
import authorSchema from "../schema/author";
import BreadcrumbList from "../schema/breadcrumbList";
import NewsArticle from "../schema/newsArticle";
import faq from "../schema/faq";
import "../assets/amp-custom.css";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  robots?: boolean;
}

const { title, description, image, robots = true }: Props = Astro.props;
---

<html lang="en">
  <head>
    <!-- Situs Judi Online SEO NAGA -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
    <meta name="google-site-verification" content="NF8aJlYhfs3LwCSuExiafye1pE2005j864hog15QjmU" />
    <title>{siteData.title}</title>
    <meta name="description" content={siteData.description} />
    <meta name="keywords" content={siteData.keywords} />
    <meta name="google" content="notranslate" />
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="googlebot-news" content="index, follow" />
    <meta name="bingbot" content="all" />
    <meta name="yandexbot" content="all" />
    <meta name="rating" content="general" />
    <meta name="geo.region" content="id_ID" />
    <meta name="geo.country" content="id" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="language" content="Indonesian" />
    <meta name="author" content={siteData.author} />
    <link rel="canonical" href={siteData.siteUrl} />
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.2.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-1.0.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="robots" content="index" />
    <!-- OPEN GRAPH -->
    <meta property="og:locale" content="id_ID" />
    <meta property="og:url" content={siteData.siteUrl} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={siteData.title} />
    <meta property="og:description" content={siteData.description} />
    <meta property="og:image" content={siteData.featuredImage} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={siteData.siteUrl} />
    <meta name="twitter:title" content={siteData.title} />
    <meta name="twitter:description" content={siteData.description} />

    <meta name="twitter:image" content={siteData.featuredImage} />
    <!-- Stylings -->
    <style amp-custom set:html={ampCustom}></style>
    <style amp-boilerplate set:html={ampBoilerPlate1}></style>

    <!-- Schema Markup -->
    <script type="application/ld+json" set:html={JSON.stringify(authorSchema)} />
    <script type="application/ld+json" set:html={JSON.stringify(BreadcrumbList)} />
    <script type="application/ld+json" set:html={JSON.stringify(NewsArticle)} />
    <script type="application/ld+json" set:html={JSON.stringify(faq)} />
  </head>
</html>
<body>
  <slot />
  <!-- Default Statcounter code for www.cerkev.net
https://www.cerkev.net -->
<script type="text/javascript">
  var sc_project=12923844;
  var sc_invisible=1;
  var sc_security="7bc5ea4a";
  </script>
  <script type="text/javascript"
  src="https://www.statcounter.com/counter/counter.js"
  async></script>
  <noscript><div class="statcounter"><a title="Web Analytics"
  href="https://statcounter.com/" target="_blank"><img
  class="statcounter"
  src="https://c.statcounter.com/12923844/0/7bc5ea4a/1/"
  alt="Web Analytics"
  referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
  <!-- End of Statcounter Code -->
</body>
