---
// import "../assets/global.css";
import Seo from "./seo.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  robots?: boolean;
}

const { title, description, image, robots = true }: Props = Astro.props;
---

<html ⚡ lang="id" dir="ltr">
  <head>

    <!-- <Seo title={title} description={description} image={image} robots={robots} /> -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="google-site-verification"
          content="NF8aJlYhfs3LwCSuExiafye1pE2005j864hog15QjmU" />
    <title>Slot Mahjong » Daftar Akun Slot Demo Gacor Mahjong Ways Gampang Menang Hari Ini</title>
    <meta name="description"
          content="Slot Mahjong Pg Soft merupakan Bocoran Akun Slot Demo Gacor Mahjong Ways Gampang Menang Hari Ini di situs slot mahjong ways 1 2 3 paling gacor gampang menang setiap hari tanpa ribet winrate tertinggi.">
    <meta name="keywords"
          content="slot demo, demo slot, slot demo pg soft, slot pg soft , slot demo anti lag, slot demo terlengkap, akun slot demo, demo slot gratis, slot demo tanpa deposit, slot gratis">
    <meta name="google"
          content="notranslate" />
    <meta name="robots"
          content="index,follow">
    <meta name="googlebot"
          content="index, follow" />
    <meta name="googlebot-news"
          content="index, follow" />
    <meta name="bingbot"
          content="all" />
    <meta name="yandexbot"
          content="all" />
    <meta name="rating"
          content="general" />
    <meta name="geo.region"
          content="id_ID" />
    <meta name="geo.country"
          content="id">
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8">
    <meta name="language"
          content="Indonesian">
    <meta name="author"
          content="Slot Online">
    <link rel="canonical"
          href="https://dprd.sukabumikab.go.id/css/slot-mahjong/">
    <script async
            src="https://cdn.ampproject.org/v0.js"></script>
    <script async
            custom-element="amp-accordion"
            src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async
            custom-element="amp-carousel"
            src="https://cdn.ampproject.org/v0/amp-carousel-0.2.js"></script>
    <script async
            custom-element="amp-sidebar"
            src="https://cdn.ampproject.org/v0/amp-sidebar-1.0.js"></script>
    <link rel="preconnect"
          href="https://fonts.googleapis.com">
    <link rel="preconnect"
          href="https://fonts.gstatic.com"
          crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="shortcut icon"
          href="https://i.postimg.cc/C56174jW/logoslot.png"
          type="image/x-icon">
    <meta name="robots"
          content="index" />
    <!-- OPEN GRAPH -->
    <meta property="og:locale"
          content="id_ID">
    <meta property="og:url"
          content="https://dprd.sukabumikab.go.id/css/slot-mahjong/">
    <meta property="og:type"
          content="website">
    <meta property="og:title"
          content="Slot Mahjong » Daftar Akun Slot Demo Gacor Mahjong Ways Gampang Menang Hari Ini">
    <meta property="og:description"
          content="Slot Mahjong Pg Soft merupakan Bocoran Akun Slot Demo Gacor Mahjong Ways Gampang Menang Hari Ini di situs slot mahjong ways 1 2 3 paling gacor gampang menang setiap hari tanpa ribet winrate tertinggi.">
    <meta property="og:image"
          content="https://i.ibb.co/WDD9sG2/slotdemopragmatic.jpg">
    <meta name="twitter:card"
          content="summary_large_image">
    <meta property="twitter:url"
          content="https://dprd.sukabumikab.go.id/css/slot-mahjong/">
    <meta name="twitter:title"
          content="Slot Mahjong » Daftar Akun Slot Demo Gacor Mahjong Ways Gampang Menang Hari Ini">
    <meta name="twitter:description"
          content="Slot Mahjong Pg Soft merupakan Bocoran Akun Slot Demo Gacor Mahjong Ways Gampang Menang Hari Ini di situs slot mahjong ways 1 2 3 paling gacor gampang menang setiap hari tanpa ribet winrate tertinggi.">
    <meta name="google-site-verification"
          content="EK7A26kTSLAr7VY0uQNBv_uWEfAFARpE0_g1uoG2enA" />
    <meta name="twitter:image"
          content="https://i.ibb.co/WDD9sG2/slotdemopragmatic.jpg">
    <!-- Stylings -->
    <style amp-custom>
        body .sidebar-menu nav ul,
        body header .wrapper .menu-list {
            padding: 0;
            margin: 0;
            list-style: none
        }

        body .sidebar-menu .header,
        body header .container-hero .wrapper .hero-group {
            display: grid;
            grid-template-columns: 1fr 1fr
        }

        * {
            outline: 0;
            text-decoration: none;
            font-family: "Chakra Petch", sans-serif
        }

        .wrapper {
            max-width: 1000px;
            margin: auto;
            padding: 0 10px
        }

        a,
        li,
        p,
        span,
        td,
        th {
            font-size: 15px
        }

        h6 {
            font-size: 15.5px
        }

        h5 {
            font-size: 16px
        }

        h4 {
            font-size: 16.5px
        }

        h3 {
            font-size: 17px
        }

        h2 {
            font-size: 17.5px
        }

        h1 {
            font-size: 25px
        }

        @media screen and (min-width:450px) and (max-width:850px) {

            a,
            li,
            p,
            span,
            td,
            th {
                font-size: 14px
            }

            h6 {
                font-size: 14.5px
            }

            h5 {
                font-size: 15px
            }

            h4 {
                font-size: 15.5px
            }

            h3 {
                font-size: 16px
            }

            h2 {
                font-size: 16.5px
            }

            h1 {
                font-size: 17px
            }
        }

        body,
        body .container-text .wrapper table tbody tr:nth-child(2n) {
            background-color: #000c0e
        }

        body .sidebar-menu {
            background: #000c0e;
            width: 250px
        }

        body .sidebar-menu .header {
            background-color: #000000;
            padding: 10px
        }

        body .sidebar-menu .header .button {
            display: flex;
            justify-content: flex-start;
            align-items: center
        }

        body .sidebar-menu .header .button button {
            background: #000000;
            border: 5px solid #fff;
            color: #ab8905
        }

        body .sidebar-menu .header .button button:hover {
            border-color: red;
            color: red
        }

        body .sidebar-menu .header .text {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            color: #fff
        }

        body .sidebar-menu .header .text span {
            text-transform: uppercase
        }

        body .sidebar-menu nav {
            margin-top: 15px
        }

        body .sidebar-menu nav ul li {
            display: flex;
            margin-bottom: 5px;
            border-left: 4px solid #000000
        }

        body .sidebar-menu nav ul li a {
            background-color: #fff;
            width: 100%;
            padding: 10px 25px;
            color: #000
        }

        body .sidebar-menu nav ul li:hover {
            border-color: #ab8905
        }

        body .sidebar-menu nav ul li:hover a {
            background-image: linear-gradient(to right, rgba(22, 218, 240, .2117647059), rgba(22, 218, 240, 0))
        }

        body header {
            background-image: radial-gradient(100% 100% at 50% 0, #2e2828 0, #000 100%);
            top: 0;
            z-index: 1
        }

        body header .wrapper {
            display: flex
        }

        body header .wrapper .brands {
            width: 40%
        }

        body header .wrapper .brands amp-img {
            width: 240px
        }

        body header .wrapper .menu-list {
            display: flex;
            align-items: center;
        }

        body header .wrapper .menu-list li {
            margin: 0 8px
        }

        body header .wrapper .menu-list li a {
            color: #fff
        }

        body .container-text .wrapper li b,
        body .container-text .wrapper p b,
        body footer .wrapper .footer-list .list ul li:hover,
        body header .container-hero .wrapper .hero-group .hero-content .description,
        body header .wrapper .menu-list li a:hover {
            color: #fff
        }

        body header .wrapper .button {
            width: 60%;
            display: flex;
            justify-content: flex-end;
            align-items: center
        }

        body header .wrapper .button a {
            font-weight: 700;
            padding: 5px 15px;
            text-transform: uppercase;
            transition: .2s ease-in-out
        }

        body .mobile-button .wrapper .group a:first-child,
        body header .container-hero .wrapper .hero-group .hero-content .button .group a:first-child,
        body header .wrapper .button a:first-child {
            background: #ab8905;
            color: #000;
            border: 5px solid #fff
        }

        body .mobile-button .wrapper .group a:first-child:hover,
        body header .container-hero .wrapper .hero-group .hero-content .button .group a:first-child:hover,
        body header .wrapper .button a:first-child:hover {
            background-color: #ab8905;
            border-color: #ab8905
        }

        body .mobile-button .wrapper .group a:nth-child(2),
        body header .container-hero .wrapper .hero-group .hero-content .button .group a:nth-child(2),
        body header .wrapper .button a:nth-child(2) {
            background: #000000;
            border: 5px solid #fff;
            color: #ab8905
        }

        body .mobile-button .wrapper .group a:nth-child(2):hover,
        body header .container-hero .wrapper .hero-group .hero-content .button .group a:nth-child(2):hover,
        body header .wrapper .button a:nth-child(2):hover {
            background-color: #1d1d1d;
            border-color: #1d1d1d
        }

        body header .wrapper .button button {
            display: none;
            background: 0 0;
            border: none;
            font-size: 32px;
            color: #ab8905
        }

        body header .container-hero {
            margin-top: 25px;
            background-position: center bottom;
            background-size: cover;
            background-repeat: no-repeat;
            padding: 50px 0
        }

        body .container-games .wrapper .games-list .games,
        body .mobile-button .wrapper,
        body header .container-hero .wrapper .hero-group .hero-image {
            padding: 10px
        }

        body header .container-hero .wrapper .hero-group .hero-content {
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center
        }

        body header .container-hero .wrapper .hero-group .hero-content .tagline {
            margin: 0;
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
            display: flex;
            align-items: center
        }

        body .container-games .title::before,
        body header .container-hero .wrapper .hero-group .hero-content .tagline::before {
            content: "";
            margin-right: 10px;
            background: #ab8905;
            display: block;
            width: 75px;
            height: 5px
        }

        body .container-games .title::after,
        body header .container-hero .wrapper .hero-group .hero-content .tagline::after {
            content: "";
            margin-left: 10px;
            background: #ab8905;
            display: block;
            width: 75px;
            height: 5px;
            display: flex;
            align-items: center
        }

        body header .container-hero .wrapper .hero-group .hero-content .title {
            margin: 0;
            color: #fff
        }

        body header .container-hero .wrapper .hero-group .hero-content .button {
            max-width: 350px;
            width: 100%;
            text-align: center;
            padding: 15px
        }

        body header .container-hero .wrapper .hero-group .hero-content .button .group {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            box-shadow: 0 0 15px #ab890545
        }

        body header .container-hero .wrapper .hero-group .hero-content .button .group a {
            padding: 5px;
            text-transform: uppercase;
            font-weight: 700
        }

        @media screen and (max-width:600px) {
            body header .container-hero .wrapper .hero-group {
                grid-template-columns: 1fr
            }

            body header .container-hero .wrapper .hero-group .hero-content {
                text-align: center
            }

            body header .container-hero .wrapper .hero-group .hero-content .tagline {
                justify-content: center
            }

            body header .container-hero .wrapper .hero-group .hero-content .button {
                margin: auto;
                width: 100%
            }
        }

        body .container-games .title {
            border-top: 1px solid #ab8905;
            border-bottom: 1px solid #ab8905;
            background: #000000;
            margin: 0;
            text-align: center;
            padding: 8px;
            text-transform: uppercase;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center
        }

        body .container-games .wrapper .games-list {
            padding: 35px 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr
        }

        body .container-games .wrapper .games-list .games .content {
            border: 1px solid #ab8905;
            padding: 10px;
            background: #000000
        }

        body .container-games .wrapper .games-list .games .content .header amp-img {
            width: 100%;
            height: 100%
        }

        body .container-games .wrapper .games-list .games .content .name {
            background-color: #000000;
            text-align: center;
            color: #fff;
            padding: 1.5px 5px
        }

        @media screen and (max-width:1000px) {
            body .container-games .wrapper .games-list {
                padding: 25px 0;
                grid-template-columns: 1fr 1fr 1fr 1fr
            }
        }

        @media screen and (max-width:750px) {
            body .container-games .wrapper .games-list {
                padding: 20px 0;
                grid-template-columns: 1fr 1fr 1fr
            }
        }

        body .container-games .jackpot .wrapper .jackpot-content {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 650px;
            margin: auto;
            padding-top: 20px
        }

        body .container-games .jackpot .wrapper .jackpot-content span {
            transform: translateY(25px);
            color: #fff;
            text-shadow: 0 0 15px #ab8905;
            font-weight: 700;
            font-size: 34px;
            position: absolute
        }

        @media screen and (max-width:550px) {
            body .container-games .wrapper .games-list {
                padding: 15px 0;
                grid-template-columns: 1fr 1fr
            }

            body .container-games .wrapper .games-list .games {
                padding: 5px
            }

            body .container-games .jackpot .wrapper .jackpot-content span {
                transform: translateY(20px);
                font-size: 8vw
            }
        }

        @media screen and (max-width:450px) {

            a,
            li,
            p,
            span,
            td,
            th {
                font-size: 13px
            }

            h6 {
                font-size: 13.5px
            }

            h5 {
                font-size: 14px
            }

            h4 {
                font-size: 14.5px
            }

            h3 {
                font-size: 15px
            }

            h2 {
                font-size: 15.5px
            }

            h1 {
                font-size: 16px
            }

            body header .wrapper .brands amp-img {
                width: 120px
            }

            body .container-games .jackpot .wrapper .jackpot-content span {
                transform: translateY(15px);
                font-size: 8vw
            }
        }

        body .container-text {
            border-top: 1px solid #ab8905;
            background-color: #000000;
            padding: 25px 0
        }

        body .container-text .wrapper h1,
        body .container-text .wrapper h2,
        body .container-text .wrapper h3 {
            padding: 8px;
            color: #fff
        }

        body .container-text .wrapper h1 {
            background-color: #000000;
            text-align: center
        }

        body .container-text .wrapper h2,
        h3,
        h4 {
            border-left: 4px solid #ab8905;
            background: linear-gradient(to right, rgb(159, 11, 11 / 55%), rgba(11, 142, 159, 0))
        }

        body .container-text .wrapper h3::before {
            content: "•";
            margin-left: 15px;
            margin-right: 15px
        }

        body .container-text .wrapper li,
        body .container-text .wrapper p,
        body footer .wrapper .footer-list .list ul li {
            color: #aaa
        }

        body .container-text .wrapper a,
        body .container-text .wrapper amp-accordion [expanded] h3,
        body footer .copyright .wrapper p a {
            color: #ab8905
        }

        body .container-text .wrapper table {
            border-spacing: 0;
            width: 100%
        }

        body .container-text .wrapper table tbody tr:nth-child(odd) {
            background-color: #000000
        }

        body .container-text .wrapper table tbody tr td {
            padding: 10px;
            color: #fff
        }

        body .container-text .wrapper table tbody tr td a {
            background: #ab8905;
            font-weight: 700;
            text-transform: uppercase;
            padding: 3px 6px;
            color: #1d1d1d
        }

        body .container-text .wrapper table tbody tr td a:hover {
            background-color: #ab8905
        }

        body .container-text .wrapper amp-accordion section {
            margin-bottom: 8px
        }

        body .container-text .wrapper amp-accordion section h3 {
            background: #000c0e;
            border: 1px solid #000000
        }

        body .container-text .wrapper amp-accordion section h3::before {
            display: none
        }

        body .container-text .wrapper amp-accordion section div {
            background: #000c0e;
            border-left: 1px solid #000000;
            border-right: 1px solid #000000;
            border-bottom: 1px solid #000000;
            padding: 10px
        }

        body .container-text .wrapper amp-accordion section div p {
            margin: 0
        }

        body footer {
            background: #000000;
            border-top: 5px solid #ab8905
        }

        body footer .wrapper .footer-list {
            padding: 35px 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr
        }

        body footer .wrapper .footer-list .list p {
            background: #000000;
            border-bottom-right-radius: 15px;
            border: 1px solid #ab8905;
            border-top-left-radius: 15px;
            width: -moz-fit-content;
            width: fit-content;
            padding: 5px 15px;
            margin: 0;
            color: #ab8905
        }

        body footer .wrapper .footer-list .list ul {
            padding: 0;
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 1fr
        }

        @media screen and (min-width:500px) and (max-width:800px) {
            body footer .wrapper .footer-list {
                grid-template-columns: 1fr 1fr
            }
        }

        @media screen and (max-width:500px) {
            body footer .wrapper .footer-list {
                grid-template-columns: 1fr
            }
        }

        body footer .copyright {
            background: #000c0e
        }

        body footer .copyright .wrapper {
            padding: 10px 0
        }

        body footer .copyright .wrapper p {
            margin: 0;
            text-align: center;
            color: #aaa
        }

        body footer .copyright .wrapper p a:hover {
            text-shadow: 0 0 5px #ab8905
        }

        body .mobile-button {
            display: none;
            position: fixed;
            width: 100%;
            bottom: 0
        }

        body .mobile-button .wrapper .group {
            display: grid;
            grid-template-columns: 1fr 1fr;
            box-shadow: 0 0 15px #034a51
        }

        body .mobile-button .wrapper .group a {
            text-align: center;
            font-weight: 700;
            padding: 10px;
            text-transform: uppercase
        }

        @media screen and (max-width:800px) {

            body header .wrapper .button a,
            body header .wrapper .menu-list {
                display: none
            }

            body .mobile-button,
            body header .container-hero .wrapper .hero-group .hero-content .button .group a,
            body header .wrapper .button button {
                display: block
            }

            body footer .copyright {
                padding-bottom: 50px
            }
        }

        h4 {
            color: #fff;
        }

        body .sidebar-menu nav ul,
        body header .wrapper .menu-list {
            padding: 0;
            margin: 0;
            list-style: none
        }

        body .sidebar-menu .header,
        body header .container-hero .wrapper .hero-group {
            display: grid;
            grid-template-columns: 1fr 1fr
        }

        * {
            outline: 0;
            text-decoration: none;
            font-family: "Chakra Petch", sans-serif
        }

        .wrapper {
            max-width: 1000px;
            margin: auto;
            padding: 0 10px
        }

        a,
        li,
        p,
        span,
        td,
        th {
            font-size: 15px
        }

        h6 {
            font-size: 15.5px
        }

        h5 {
            font-size: 16px
        }

        h4 {
            font-size: 16.5px
        }

        h3 {
            font-size: 17px
        }

        h2 {
            font-size: 17.5px
        }

        h1 {
            font-size: 25px
        }

        @media screen and (min-width:450px) and (max-width:850px) {

            a,
            li,
            p,
            span,
            td,
            th {
                font-size: 14px
            }

            h6 {
                font-size: 14.5px
            }

            h5 {
                font-size: 15px
            }

            h4 {
                font-size: 15.5px
            }

            h3 {
                font-size: 16px
            }

            h2 {
                font-size: 16.5px
            }

            h1 {
                font-size: 17px
            }
        }

        body,
        body .container-text .wrapper table tbody tr:nth-child(2n) {
            background-color: #000c0e
        }

        body .sidebar-menu {
            background: #000c0e;
            width: 250px
        }

        body .sidebar-menu .header {
            background-color: #000000;
            padding: 10px
        }

        body .sidebar-menu .header .button {
            display: flex;
            justify-content: flex-start;
            align-items: center
        }

        body .sidebar-menu .header .button button {
            background: #000000;
            border: 5px solid #fff;
            color: #ab8905
        }

        body .sidebar-menu .header .button button:hover {
            border-color: red;
            color: red
        }

        body .sidebar-menu .header .text {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            color: #fff
        }

        body .sidebar-menu .header .text span {
            text-transform: uppercase
        }

        body .sidebar-menu nav {
            margin-top: 15px
        }

        body .sidebar-menu nav ul li {
            display: flex;
            margin-bottom: 5px;
            border-left: 4px solid #000000
        }

        body .sidebar-menu nav ul li a {
            background-color: #fff;
            width: 100%;
            padding: 10px 25px;
            color: #000
        }

        body .sidebar-menu nav ul li:hover {
            border-color: #ab8905
        }

        body .sidebar-menu nav ul li:hover a {
            background-image: linear-gradient(to right, rgba(22, 218, 240, .2117647059), rgba(22, 218, 240, 0))
        }

        body header {
            background-image: radial-gradient(100% 100% at 50% 0, #2e2828 0, #000 100%);
            top: 0;
            z-index: 1
        }

        body header .wrapper {
            display: flex
        }

        body header .wrapper .brands {
            width: 40%
        }

        body header .wrapper .brands amp-img {
            width: 240px
        }

        body header .wrapper .menu-list {
            display: flex;
            align-items: center;
        }

        body header .wrapper .menu-list li {
            margin: 0 8px
        }

        body header .wrapper .menu-list li a {
            color: #fff
        }

        body .container-text .wrapper li b,
        body .container-text .wrapper p b,
        body footer .wrapper .footer-list .list ul li:hover,
        body header .container-hero .wrapper .hero-group .hero-content .description,
        body header .wrapper .menu-list li a:hover {
            color: #fff
        }

        body header .wrapper .button {
            width: 60%;
            display: flex;
            justify-content: flex-end;
            align-items: center
        }

        body header .wrapper .button a {
            font-weight: 700;
            padding: 5px 15px;
            text-transform: uppercase;
            transition: .2s ease-in-out
        }

        body .mobile-button .wrapper .group a:first-child,
        body header .container-hero .wrapper .hero-group .hero-content .button .group a:first-child,
        body header .wrapper .button a:first-child {
            background: #ab8905;
            color: #000;
            border: 5px solid #fff
        }

        body .mobile-button .wrapper .group a:first-child:hover,
        body header .container-hero .wrapper .hero-group .hero-content .button .group a:first-child:hover,
        body header .wrapper .button a:first-child:hover {
            background-color: #ab8905;
            border-color: #ab8905
        }

        body .mobile-button .wrapper .group a:nth-child(2),
        body header .container-hero .wrapper .hero-group .hero-content .button .group a:nth-child(2),
        body header .wrapper .button a:nth-child(2) {
            background: #000000;
            border: 5px solid #fff;
            color: #ab8905
        }

        body .mobile-button .wrapper .group a:nth-child(2):hover,
        body header .container-hero .wrapper .hero-group .hero-content .button .group a:nth-child(2):hover,
        body header .wrapper .button a:nth-child(2):hover {
            background-color: #1d1d1d;
            border-color: #1d1d1d
        }

        body header .wrapper .button button {
            display: none;
            background: 0 0;
            border: none;
            font-size: 32px;
            color: #ab8905
        }

        body header .container-hero {
            margin-top: 25px;
            background-position: center bottom;
            background-size: cover;
            background-repeat: no-repeat;
            padding: 50px 0
        }

        body .container-games .wrapper .games-list .games,
        body .mobile-button .wrapper,
        body header .container-hero .wrapper .hero-group .hero-image {
            padding: 10px
        }

        body header .container-hero .wrapper .hero-group .hero-content {
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center
        }

        body header .container-hero .wrapper .hero-group .hero-content .tagline {
            margin: 0;
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
            display: flex;
            align-items: center
        }

        body .container-games .title::before,
        body header .container-hero .wrapper .hero-group .hero-content .tagline::before {
            content: "";
            margin-right: 10px;
            background: #ab8905;
            display: block;
            width: 75px;
            height: 5px
        }

        body .container-games .title::after,
        body header .container-hero .wrapper .hero-group .hero-content .tagline::after {
            content: "";
            margin-left: 10px;
            background: #ab8905;
            display: block;
            width: 75px;
            height: 5px;
            display: flex;
            align-items: center
        }

        body header .container-hero .wrapper .hero-group .hero-content .title {
            margin: 0;
            color: #fff
        }

        body header .container-hero .wrapper .hero-group .hero-content .button {
            max-width: 350px;
            width: 100%;
            text-align: center;
            padding: 15px
        }

        body header .container-hero .wrapper .hero-group .hero-content .button .group {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            box-shadow: 0 0 15px #ab890545
        }

        body header .container-hero .wrapper .hero-group .hero-content .button .group a {
            padding: 5px;
            text-transform: uppercase;
            font-weight: 700
        }

        @media screen and (max-width:600px) {
            body header .container-hero .wrapper .hero-group {
                grid-template-columns: 1fr
            }

            body header .container-hero .wrapper .hero-group .hero-content {
                text-align: center
            }

            body header .container-hero .wrapper .hero-group .hero-content .tagline {
                justify-content: center
            }

            body header .container-hero .wrapper .hero-group .hero-content .button {
                margin: auto;
                width: 100%
            }
        }

        body .container-games .title {
            border-top: 1px solid #ab8905;
            border-bottom: 1px solid #ab8905;
            background: #000000;
            margin: 0;
            text-align: center;
            padding: 8px;
            text-transform: uppercase;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center
        }

        body .container-games .wrapper .games-list {
            padding: 35px 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr
        }

        body .container-games .wrapper .games-list .games .content {
            border: 1px solid #ab8905;
            padding: 10px;
            background: #000000
        }

        body .container-games .wrapper .games-list .games .content .header amp-img {
            width: 100%;
            height: 100%
        }

        body .container-games .wrapper .games-list .games .content .name {
            background-color: #000000;
            text-align: center;
            color: #fff;
            padding: 1.5px 5px
        }

        @media screen and (max-width:1000px) {
            body .container-games .wrapper .games-list {
                padding: 25px 0;
                grid-template-columns: 1fr 1fr 1fr 1fr
            }
        }

        @media screen and (max-width:750px) {
            body .container-games .wrapper .games-list {
                padding: 20px 0;
                grid-template-columns: 1fr 1fr 1fr
            }
        }

        body .container-games .jackpot .wrapper .jackpot-content {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 650px;
            margin: auto;
            padding-top: 20px
        }

        body .container-games .jackpot .wrapper .jackpot-content span {
            transform: translateY(25px);
            color: #fff;
            text-shadow: 0 0 15px #ab8905;
            font-weight: 700;
            font-size: 34px;
            position: absolute
        }

        @media screen and (max-width:550px) {
            body .container-games .wrapper .games-list {
                padding: 15px 0;
                grid-template-columns: 1fr 1fr
            }

            body .container-games .wrapper .games-list .games {
                padding: 5px
            }

            body .container-games .jackpot .wrapper .jackpot-content span {
                transform: translateY(20px);
                font-size: 8vw
            }
        }

        @media screen and (max-width:450px) {

            a,
            li,
            p,
            span,
            td,
            th {
                font-size: 13px
            }

            h6 {
                font-size: 13.5px
            }

            h5 {
                font-size: 14px
            }

            h4 {
                font-size: 14.5px
            }

            h3 {
                font-size: 15px
            }

            h2 {
                font-size: 15.5px
            }

            h1 {
                font-size: 16px
            }

            body header .wrapper .brands amp-img {
                width: 120px
            }

            body .container-games .jackpot .wrapper .jackpot-content span {
                transform: translateY(15px);
                font-size: 8vw
            }
        }

        body .container-text {
            border-top: 1px solid #ab8905;
            background-color: #000000;
            padding: 25px 0
        }

        body .container-text .wrapper h1,
        body .container-text .wrapper h2,
        body .container-text .wrapper h3 {
            padding: 8px;
            color: #fff
        }

        body .container-text .wrapper h1 {
            background-color: #000000;
            text-align: center
        }

        body .container-text .wrapper h2,
        h3,
        h4 {
            border-left: 4px solid #ab8905;
            background: linear-gradient(to right, rgb(11 93 159 / 55%), rgba(11, 142, 159, 0))
        }

        body .container-text .wrapper h3::before {
            content: "✔️";
            margin-left: 15px;
            margin-right: 15px
        }

        body .container-text .wrapper li,
        body .container-text .wrapper p,
        body footer .wrapper .footer-list .list ul li {
            color: #aaa
        }

        body .container-text .wrapper a,
        body .container-text .wrapper amp-accordion [expanded] h3,
        body footer .copyright .wrapper p a {
            color: #ab8905
        }

        body .container-text .wrapper table {
            border-spacing: 0;
            width: 100%
        }

        body .container-text .wrapper table tbody tr:nth-child(odd) {
            background-color: #000000
        }

        body .container-text .wrapper table tbody tr td {
            padding: 10px;
            color: #fff
        }

        body .container-text .wrapper table tbody tr td a {
            background: #ab8905;
            font-weight: 700;
            text-transform: uppercase;
            padding: 3px 6px;
            color: #1d1d1d
        }

        body .container-text .wrapper table tbody tr td a:hover {
            background-color: #ab8905
        }

        body .container-text .wrapper amp-accordion section {
            margin-bottom: 8px
        }

        body .container-text .wrapper amp-accordion section h3 {
            background: #000c0e;
            border: 1px solid #000000
        }

        body .container-text .wrapper amp-accordion section h3::before {
            display: none
        }

        body .container-text .wrapper amp-accordion section div {
            background: #000c0e;
            border-left: 1px solid #000000;
            border-right: 1px solid #000000;
            border-bottom: 1px solid #000000;
            padding: 10px
        }

        body .container-text .wrapper amp-accordion section div p {
            margin: 0
        }

        body footer {
            background: #000000;
            border-top: 5px solid #ab8905
        }

        body footer .wrapper .footer-list {
            padding: 35px 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr
        }

        body footer .wrapper .footer-list .list p {
            background: #000000;
            border-bottom-right-radius: 15px;
            border: 1px solid #ab8905;
            border-top-left-radius: 15px;
            width: -moz-fit-content;
            width: fit-content;
            padding: 5px 15px;
            margin: 0;
            color: #ab8905
        }

        body footer .wrapper .footer-list .list ul {
            padding: 0;
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 1fr
        }

        @media screen and (min-width:500px) and (max-width:800px) {
            body footer .wrapper .footer-list {
                grid-template-columns: 1fr 1fr
            }
        }

        @media screen and (max-width:500px) {
            body footer .wrapper .footer-list {
                grid-template-columns: 1fr
            }
        }

        body footer .copyright {
            background: #000c0e
        }

        body footer .copyright .wrapper {
            padding: 10px 0
        }

        body footer .copyright .wrapper p {
            margin: 0;
            text-align: center;
            color: #aaa
        }

        body footer .copyright .wrapper p a:hover {
            text-shadow: 0 0 5px #ab8905
        }

        body .mobile-button {
            display: none;
            position: fixed;
            width: 100%;
            bottom: 0
        }

        body .mobile-button .wrapper .group {
            display: grid;
            grid-template-columns: 1fr 1fr;
            box-shadow: 0 0 15px #034a51
        }

        body .mobile-button .wrapper .group a {
            text-align: center;
            font-weight: 700;
            padding: 10px;
            text-transform: uppercase
        }

        @media screen and (max-width:800px) {

            body header .wrapper .button a,
            body header .wrapper .menu-list {
                display: none
            }

            body .mobile-button,
            body header .container-hero .wrapper .hero-group .hero-content .button .group a,
            body header .wrapper .button button {
                display: block
            }

            body footer .copyright {
                padding-bottom: 50px
            }
        }

        h4 {
            color: #fff;
        }
    </style>
    <style amp-boilerplate>
        body {
            -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            animation: -amp-start 8s steps(1, end) 0s 1 normal both
        }

        @-webkit-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @-moz-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @-ms-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @-o-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }
    </style><noscript>
        <style amp-boilerplate>
            body {
                -webkit-animation: none;
                -moz-animation: none;
                -ms-animation: none;
                animation: none
            }
        </style>
    </noscript>
    <!-- Schema Markup -->
    <script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "Game",
              "name": "Slot Mahjong",
              "author": {
                "@type": "Person",
                "name": "Slot Mahjong"
              },
              "image": "https://i.ibb.co/KXRv4fs/slot-gacor.png",
              "url": "https://dprd.sukabumikab.go.id/css/slot-mahjong/",
              "publisher": {
                "@type": "Organization",
                "name": "Slot Mahjong"
              },
              "aggregateRating": {
                "@type": "AggregateRating",
                "ratingValue": "99",
                "bestRating": "100",
                "worstRating": "2",
                "ratingCount": "35565419"
              },
              "inLanguage": "id"
            }
        </script>
    <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "BreadcrumbList","itemListElement": [{
                  "@type": "ListItem",
                  "position": 1,
                  "name": "Slot Mahjong » Daftar Akun Slot Demo Gacor Mahjong Ways Gampang Menang Hari Ini",
                  "item": {
                    "@type":"WebSite",
                    "@id":"https://dprd.sukabumikab.go.id/css/slot-mahjong/",
                    "name":"Slot Mahjong"
                  }
                }]
              }
        </script>
    <script type="application/ld+json">
            {
              "@context": "https://schema.org/",
              "@type": "NewsArticle",
              "author": {
                "@type": "Organization",
                "url": "https://dprd.sukabumikab.go.id/css/slot-mahjong/",
                "name": "Slot Mahjong"
              },
              "headline": "Slot Mahjong » Daftar Akun Slot Demo Gacor Mahjong Ways Gampang Menang Hari Ini",
              "image": {
                "@type": "ImageObject",
                "url": "https://i.ibb.co/WDD9sG2/slotdemopragmatic.jpg"
              },
              "publisher": {
                "@type": "Organization",
                "name": "Slot Mahjong",
                "logo": {
                  "@type": "ImageObject",
                  "url": "https://i.ibb.co/KXRv4fs/slot-gacor.png"
                },
                "address": "Indonesia",
                "location": "Indonesia",
                "identifier": "https://dprd.sukabumikab.go.id/css/slot-mahjong/"
              },
              "keywords": [
                "Slot Online",
                "Slot Dana",
                "Slot Deposit Dana",
                "Link Slot Dana",
                "Server Dana Slot",
                "Slot Dana Gaming",
                "Bandar Slot Dana"
              ],
              "datePublished": "2023-07-17T12:03:59+00:00",
              "dateModified": "2023-07-17T12:03:59+00:00",
              "mainEntityOfPage": "https://dprd.sukabumikab.go.id/css/slot-mahjong/",
              "description": "Slot Mahjong Pg Soft merupakan Bocoran Akun Slot Demo Gacor Mahjong Ways Gampang Menang Hari Ini di situs slot mahjong ways 1 2 3 paling gacor gampang menang setiap hari tanpa ribet winrate tertinggi.",
              "speakable": "https://dprd.sukabumikab.go.id/css/slot-mahjong/"
            }
        </script>
    <script type="application/ld+json">
                {
                  "@context": "https://schema.org/",
                  "@type": "FAQPage",
                  "name": "FAQ Pertanyaan Populer Seputar Situs Daftar Akun Pro Kamboja Server Cambodia Asli No 1",
                  "mainEntity": [
                    {
                      "@type": "Question",
                      "name": "Bagaimana cara mendaftar akun di Slot Slot Mahjong?",
                      "acceptedAnswer": {
                        "@type": "Answer",
                        "text": "Untuk mendaftar akun di Slot Slot Mahjong, kunjungi situs resmi mereka dan klik tombol Daftar atau Register. Isi formulir pendaftaran dengan data pribadi Anda, lalu verifikasi akun melalui email atau nomor telepon yang Anda daftarkan"
                      }
                    },
                    {
                      "@type": "Question",
                      "name": "Metode pembayaran apa yang didukung oleh Slot Slot Mahjong?",
                      "acceptedAnswer": {
                        "@type": "Answer",
                        "text": "Slot Slot Mahjong mendukung berbagai metode pembayaran, termasuk transfer bank, kartu kredit, dompet digital, dan lainnya. Pastikan untuk memeriksa opsi pembayaran yang tersedia di situs resmi kami."
                      }
                    },
                    {
                      "@type": "Question",
                      "name": "Apakah permainan di Slot Slot Mahjong adil dan terjamin keamanannya?",
                      "acceptedAnswer": {
                        "@type": "Answer",
                        "text": "Ya, semua permainan di Slot Slot Mahjong diuji secara ketat untuk memastikan keadilan dan integritas. Kami juga menggunakan teknologi enkripsi terbaru untuk melindungi data dan transaksi Anda, sehingga keamanan Anda terjamin."
                      }
                    }
                  ]
                }
        </script>
    <script type="application/ld+json">
            {
              "@context": "https://schema.org/",
              "@type": "ItemList",
              "itemListElement": [
                {
                  "@type": "ListItem",
                  "position": "1",
                  "url": "https://i.postimg.cc/wv841pSV/slot-gacor.png"
                },
                {
                  "@type": "ListItem",
                  "position": "2",
                  "url": "https://i.postimg.cc/wv841pSV/slot-gacor.png"
                },
                {
                  "@type": "ListItem",
                  "position": "3",
                  "url": "https://i.postimg.cc/wv841pSV/slot-gacor.png"
                }
              ]
            }
        </script>
  </head>
  <body>
    <slot />
  </body>
</html>
