<script setup>
import decrypt from "crypto-js/aes";
import CryptoJS from "crypto-js";
import { Encryption } from "../Encryption.js";
const encryption = new Encryption();

const response = await fetch("https://api-situsnobar.cuan.dev/api/situs_nobar.json");
const data = await response.json();
const siteLists = JSON.parse(encryption.decrypt(data.data, "selamatmalamdunia"));
</script>

<template>
  <div class="container-games">
    <h2 class="title">LIST SITUS NOBAR SAAT INI</h2>

    <div class="wrapper">
   <div class="games-list">
        <div class="games" v-for="site in siteLists">
     <a
            :href="site.link"
            rel="nofollow"
            title="Kunjungi"
            target="_blank"
            style="color: white"
          >
            <div class="content">
              <div class="header">
                <amp-img
                  :src="`/imgs/` + site.image"
                  width="500"
                  height="100"
                  layout="intrinsic"
                  alt="Gate Of Olympus"
                  title="Gate Of Olympus"
                ></amp-img>
              </div>
              <div class="name">
                <span>{{ site.name }} </span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
</style>
